<div id="mc_embed_signup">
    <form action="https://marcorei.us17.list-manage.com/subscribe/post?u=377b74926e5d0e2aba35909d9&amp;id=3ef49e1048" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
            <div class="field email-field">
                <div class="control is-expanded">
                    <label for="mce-EMAIL">{% translate content.index-woomy.signup.email-input-label %}</label>
                    <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL">
                </div>
            </div>
        </div>
        <p class="legal">{% translate content.index-woomy.signup.legal-text %}</p>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_377b74926e5d0e2aba35909d9_3ef49e1048" tabindex="-1" value="">
        </div>
        <div class="has-text-centered">
            <input type="submit" value="{% translate content.index-woomy.signup.submit-button-label %}" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
    </form>
</div>