<a class="navbar-item" href="{% translate_link contact %}">
    {% translate global.navigation.contact %}
</a>
<a class="navbar-item" href="{% translate_link privacy %}">
    {% translate global.navigation.privacy %}
</a>
<!-- <a class="navbar-item" href="{% translate_link terms %}">
    {% translate global.navigation.terms %}
</a> -->
{% comment %}

    <!-- Remove wrapping comment to activate language navigation -->
    {% if site.lang == "de" %}
        {% capture link1 %}/en{{ page.url}}{% endcapture %}
        <a href="{{ link1 }}" >{% translate global.languages.en %}</a>
    {% elsif site.lang == "en" %}
        {% capture link2 %}{{ page.url  }}{% endcapture %}
        <a href="{{ link2 }}" >{% translate global.languages.de %}</a>
    {% endif %}

{% endcomment %}