<footer>
    <div class="container">
        <nav class="navbar footer-navbar" role="navigation" aria-label="footer navigation">
            <div class="navbar-menu is-active">
                <div class="navbar-start">
                    {% include elements/nav-secondary.html %}
                </div>
            </div>       
        </nav>
        <p class="legal-note">This website is not affiliated with Nintendo. All product names, logos, and brands are property of their respective owners.</p>
    </div>
</footer>